.toggle {
  position: fixed;
  top: 14px;
  left: 16px;
  z-index: 30;
}

.toggle svg {
  width: 28px;
  height: 28px;
}

.toggle:hover svg {
  color: var(--verde-primary);
  scale: 1.1;
  transition: var(--transition-fast);
}

.close {
  color: var(--verde-primary);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 60px;
  background-color: #fcfcfcca;
  backdrop-filter: blur(8px);
  border-bottom: solid 1px var(--color-border);
  box-shadow: 0 4px 10px #0000004a;
  padding: 20px 100px;
  transform: translateY(-12px);
  opacity: 0;
  animation: slideDown var(--dynamic-medium-transition) forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
