PORT=3001

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=agrogestion360
DB_PORT=5432
DB_SSL=false

JWT_SECRET=una_clave_segura
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
CLOUDINARY_FOLDER=agrogestion360/products

EMAIL_USER=tu_correo@gmail.com
EMAIL_APP_PASSWORD=tu_app_password
