.button {
  position: relative;
  color: var(--text-tertiary);
  border-radius: 13px;
  height: 50px;
  width: fit-content;
  min-width: 180px;
  padding: 0 14px;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all ease-in-out 1ms;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: var(--text-tertiary);
  transform: scaleX(0); /* empieza desde el centro */
  transform-origin: center; /* se expande hacia los costados */
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.1s ease;
  z-index: 0;
  pointer-events: none;
}

.button:hover::before {
  transform: scaleX(1); /* se expande horizontalmente */
  opacity: 0.2;
}

.button:active {
  scale: 0.99;
}

.primary {
  background-color: var(--verde-primary);
  border: 2px solid var(--verde-900);
}

.secondary {
  background-color: #fff;
  border: 2px solid var(--text-secundary);
  color: var(--text-primary);
}

.secondary:hover {
  color: var(--text-secundary);
  border: 2px solid #777;
}
