.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--verde-primary);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.label {
  font-weight: 700;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  color: var(--text-secundary);
}

.icon svg {
  width: 20px;
  height: 20px;
  color: var(--verde-primary);
}

.input {
  width: 260px;
  padding: 10px 4px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--verde-dark);
}

.link{
  font-size: 13px;
  color:green;
}

.link:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  color: var(--text-secundary);
  font-size: 12px;
  padding: 0 10px;
}

.eyeButton {
  position: absolute;
  right: 14px;
  bottom: 8px;
}

.eyeButton:hover {
  scale: 1.1;
  transition: all ease-in-out 120ms;
}

.eyeButton:active {
  scale: 0.9;
}
