.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--verde-primary);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-weight: 700;
  color: var(--text-secundary);
}

.input {
  width: 260px;
  padding: 10px 4px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--verde-dark);
}

footer {
  text-align: center;
  color: var(--text-secundary);
  font-size: 12px;
  padding: 0 10px;
}
