.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
}

footer {
  text-align: center;
  color: #333;
  font-size: 14px;
  padding: 0 10px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: #15803d;
}
