.header {
  min-width: calc(100% - 280px);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fcfcfcca;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: solid 1px var(--color-border);
}

.collapsed {
  width: calc(100% - 80px);
}

.boxTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.boxTitle h1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--text-primary);
}

.boxTitle span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secundary);
}

.boxTitleSmall {
  padding-left: 36px;
  padding-bottom: 4px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--text-secundary);
}

.item {
  cursor: pointer;
}

.item:hover {
  color: var(--verde-primary);
  scale: 1.1;
  transition: var(--transition-fast);
}

.line {
  margin-top: 4px;
  height: 40px;
  border-left: solid 1px var(--text-secundary);
}

.navbar {
  display: flex;
  gap: 20px;
}

.containerUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  text-align: right;
}

.description h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary);
}

.description span {
  color: var(--verde-primary);
  font-weight: 600;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid var(--color-border);
}

@media (width <= 900px) {
  .boxTitle h1 {
    font-size: 1.1rem;
  }

  .boxTitle span {
    font-size: 10px;
  }
}

@media (width <= 768px) {
  .header {
    min-width: calc(100%);
  }
  .boxTitle h1 {
    font-size: 1.1rem;
  }

  .boxTitle span {
    font-size: 12px;
  }
}
