.sidebar {
  width: 280px;
  position: relative;
  padding: 24px;
  background-color: var(--surface-secundary);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
}

.collapsed {
  width: 80px;
  padding: 8px;
}

.iconCollapsed {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  right: 24px;
  top: 14px;
  width: 22px;
  height: 22px;
  color: var(--text-secundary);
}

.iconCollapsed:hover {
  color: var(--verde-primary);
  scale: 1.1;
  transition: var(--transition-fast);
}

.iconCollapsedOpen {
  transform: scaleX(-1);
  right: 35%;
}

.containerSections {
  margin-top: 10px;
  width: 100%;
}

.subtitle {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
}

.item {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  gap: 12px;
  padding: 8px 18px;
  border-radius: 10px;
  color: var(--text-secundary);
  cursor: pointer;
}

.item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #cccc;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: center; /* se expande hacia los costados */
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.1s ease;
  z-index: 0;
  pointer-events: none;
}

.item:hover {
  color: var(--text-primary);
  scale: 1.02;
  transition: all ease-in-out 0.1s;
}

.item:hover svg {
  color: var(--verde-primary);
}

.item:hover::before {
  transform: scaleX(1); /* se expande horizontalmente */
  opacity: 0.2;
}

.item.active {
  background-color: #eceef0;
  color: var(--text-primary);
  scale: 1;
  font-weight: 800;
}

.item.active svg {
  color: var(--verde-primary);
}

.item.active:hover::before {
  transform: scaleX(0);
  opacity: 0;
}

.item svg {
  color: var(--text-primary);
  width: 26px;
  height: 26px;
}

@media (width <= 768px) {
  .sidebar {
    width: 260px;
    position: fixed;
    height: 100vh;
  }

  .collapsed {
    width: 80px;
    padding: 8px;
    position: relative;
  }
}
