* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --transition: 0.15s ease;
  --transition-low: 0.3s ease;
  --transition-very-low: 0.5s ease;
  --dynamic-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  --dynamic-medium-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --dynamic-fast-transition: 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

a {
  color: #000000;
  text-decoration: none;
}

html {
  scroll-behavior: auto;
}

body.light-mode {
  --surface-primary: #ffffff;
  --surface-secundary: #f2f4f7;

  --verde-primary: #15803d;
  --verde-dark: #133e23;
  --verde-900: #14522d;
  --verde-200: #bbf7d0;

  --text-primary: #000000;
  --text-secundary: #333333;
  --text-tertiary: #ffffff;
  --text-coffee: #342020;
}

body.dark-mode {
  /* SURFACE */
  --surface-primary: #0a0b15;
}
