.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

li::marker {
  color: #15803d;
  font-size: 1.1em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.item {
  font-weight: 700;
}

.boxButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.outline {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
}

footer {
  text-align: center;
  color: #333;
  font-size: 12px;
  padding: 0 10px;
}
