.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
}

li::marker {
  color: #15803d;
  font-size: 1.5em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.item {
  font-weight: 700;
}

.boxButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #15803d;
  border: 2px solid #14522d;
  color: #fff;
  border-radius: 13px;
  height: 50px;
  width: 190px;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
}

.outline {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
}

footer {
  text-align: center;
  color: #333;
  font-size: 14px;
  padding: 0 10px;
}
