.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  margin-left: 280px;
}

.collapsed {
  margin-left: 80px;
}
